.grid-container {
  display: grid;
}
.grid-card-01 {
  grid-row-start: 1;
}
.image {
  height: 100%;
  box-shadow: none;
  aspect-ratio: 1/1;
  object-fit: fill;
  align-self: center;
  justify-self: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
